
body{
    margin:0;
    padding:0;
    font-family: Arial;
}
h1{
    margin:0;
    padding:0;
}
p{
    margin:0;
    padding: 0;
}
.top{
    margin-left:20vw;
    margin-top:10vh;
    width:60vw;
    height:fit-content;
    border-bottom:1px solid black;

}
.bar{
    width:fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
.bar p{
    width: fit-content;
    padding-left: 2vw;
    padding-right: 2vw;
}
.bar select{
    height:20px;
}
.bar input{
    height:20px;
}
.ca{
    margin-left:15vw ;
    width: 70vw;
    height:fit-content;
    background-color: lightgray;
}
.ca .b1{
    width:9.7vw;
    height:9.7vw;
    display: inline-block;
    vertical-align: top;
    margin-top:1vh;
    margin-bottom:1vh;
   /* background-color: lightcyan;*/
}
.b p{
    width:9.7vw;
    display: inline-block;
}
.u{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    display: none;
    opacity: 0;
}
.u .shadow{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    background-color: black;
    opacity: 0.6;
}
.u .center{
    position: absolute;
    left: 10vw;
    top:10vh;
    width:80vw;
    height:80vh;
     box-shadow: 0 0 5px 1px gray;
    background-color: rgb(253, 253, 253);
    z-index: 100;
    vertical-align: top;
    display: inline-block;
}
.u .ud{
    position: relative;
    left:5vw;
    top:5vh;
    font-size: 40px;
    font-weight: 600;
    
    z-index: 100;
}
.u .left{
    position: relative;
    left:2.5vw;
    top:10vh;
    width:40vw;
    height:60vh;
}
.u .left .s1{
    position: relative;
    top:5vh;
    left:0.5vw;
    padding: 2vw;
    padding-left:4vw;
    padding-right:4vw;
    background-color: rgb(243, 243, 243);
    width: max-content;
    text-align: center;
}
.u .left .s1 button{
    position: absolute;
    bottom:2vw;
    right:0;
    
    border:none;   
     outline:none;
}
.u .left button:hover{
    background-color: lightgray;
}
.u .right{
    position: relative;
    left:50%;
    top:-50vh;
    width: 40vw;
    height:60vh;
}
.u .right p{
    display: inline-block;
    position: relative;
    top:0.5vh;
    
    width:max-content;
    padding-top:2.5vh;
    padding-bottom:2.5vh;
    margin:1vw;
    /*border-bottom:1px solid black;*/
}
.u .right p:hover{
    background-color: lightgray;
}
.u .right input{
    position: relative;
    top:0.5vh;
}
.u .right .o{
    border:none;
}
.u .right .o:hover{
    background-color:  rgb(238, 238, 238);
}
.u .right .a{
    padding-left:2.5vw;
    padding-right:2.5vw;
}
.u small{
    background-color: black;
    color:white;
    padding-left:5vw ;
    padding-right:5vw ;
    padding-top:2.5vh;
    padding-bottom:2.5vh;
    letter-spacing: 2px;
}
.u .d2{
    
    width: max-content;
    border-top:1px solid black;
}
.u .center .close{
    position: absolute;
    bottom: 1vw;
    right:1vw;
    
}