
body{
    margin:0;
    padding:0;
    font-family: Arial;
}
h1{
    margin:0;
    padding:0;
}
h4{
position: absolute;
right:0;
top:0;
color: gray;
}
p{
    margin:0;
    padding: 0;
}
.top{
    margin-left:20vw;
    position: relative;
    margin-top:10vh;
    width:60vw;
    height:fit-content;
    border-bottom:1px solid black;

}
.bar{
    position: relative;
    width:90vw;
    padding-left:15vw;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
.bar p{
    width: 7.5vw;
    height:30px;
    line-height: 30px;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: black;
    font-size:10px;
    color:white;
    text-align: center;
}
.bar select{
    height: 30px;
}
.bar input{
    padding:0;
    height:30px;
    width:10vw;
    border:none;    
}
.bar .add1{
    width:4vw;
    text-align: center;
}
.bar .add1:hover{
    background-color: lightgray;
}
.bar .add1:active{
    background-color: black;
}
.ca{
    margin-left:15vw ;
    width: 70vw;
    height:fit-content;
    /*background-color: lightgray;*/
    
}
.ca .b1{
    position: relative;
    width:9vw;
    height:9.7vw;
    display: inline-block;
    vertical-align: top;
    margin-left:1px;
    margin-right:1px;
    margin-top:1vh;
    margin-bottom:1vh;
    border-bottom:1px solid black;
       /* background-color: lightcyan;*/
}
.ca .b1:hover{
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 5px 2px rgb(245, 245, 245);
}
.ca .b1 .d{
    position: absolute;
    top:25px;
    left:10px;  
}
.ca .date{
    position: absolute;
    top:10px;
    left:10px;
}
.ca .date2{
    color:lightgray;
}
.b p{
    width:9vw;
    text-align: center;
    display: inline-block;
    font-weight: 600;
    background-color: lightgray;
}
.u{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    display: none;
    opacity: 0;
}
.u .shadow{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    background-color: black;
    opacity: 0.6;
}
.u .center{
    position: absolute;
    left: 10vw;
    top:10vh;
    width:80vw;
    height:80vh;
     box-shadow: 0 0 5px 1px gray;
    background-color: rgb(253, 253, 253);
    z-index: 100;
    vertical-align: top;
    display: inline-block;
}
.u .ud{
    position: relative;
    left:5vw;
    top:5vh;
    font-size: 40px;
    font-weight: 600;
    
    z-index: 100;
}
.u .left{
    position: relative;
    left:2.5vw;
    top:10vh;
    width:40vw;
    height:60vh;
}
.u .left .s1{
    position: relative;
    top:5vh;
    left:0;
    margin:0;
    padding: 0;
    padding: 2vw;
    padding-left:4vw;
    padding-right:6vw;
    background-color: rgb(243, 243, 243);
    width: max-content;
    text-align: center;
    font-size:15px;
}
.u .left .s1 button{
    position: absolute;
    bottom:2.5px;
    right:0;
    font-size:10px;
    padding-bottom: 2vw;
    padding-top:2vw;
    border:none;   
     outline:none;
     background-color: rgb(243, 243, 243);
}
.u .left button:hover{
    font-weight: 600;
}
.u .right{
    position: relative;
    left:50%;
    top:-50vh;
    width: 40vw;
    height:60vh;
}
.u .right p{
    display: inline-block;
    position: relative;
    top:1vh;
    
    width:max-content;
    padding-left:1vw;
    padding-right:1vw;
    padding-top:2.5vh;
    padding-bottom:2.5vh;
    margin:1vw;
    /*border-bottom:1px solid black;*/
}
.u .right p:hover{
    background-color: lightgray;
}
.u .right input{
    position: relative;
    top:0.5vh;
}
.u .right .o{
    border:none;
}
.u .right .o:hover{
    background-color:white;
}
.u .right .a{
    padding-left:2.5vw;
    padding-right:2.5vw;
    
}
.u small{
    background-color: black;
    color:white;
    padding-left:5vw ;
    padding-right:5vw ;
    padding-top:2.5vh;
    padding-bottom:2.5vh;
    letter-spacing: 2px;
}
.u .d2{
    
    width: max-content;
    border-top:1px solid black;
}
.u .center .close{
    position: absolute;
    bottom: 0;
    right:0;
    padding-left:1vw;
    padding-right:1vw;
    padding-top:1vw;
    padding-bottom:1vw;
}
.u .center .close:hover{
 background-color: black;
 color:white;
}
.u .center .close:active{
 background-color: white;
 color:black;
}
.sub{
    padding-bottom: 1vw;
    padding-top: 1vw;
    padding-left:2.5vw;
    padding-right:2.5vw;
    width:max-content;
    background-color: black;
    color:white;
    font-size:12.5px; 
}
.sub:hover{
    background-color: lightgray;
}
.sub:active{
    background-color: black;
}